<div class="form-container">
  <h2>Simple Form</h2>
  <form>
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" id="name" [(ngModel)]="name" name="name" required />
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input
        type="email"
        id="email"
        [(ngModel)]="email"
        name="email"
        required
      />
    </div>
    <div class="form-group">
      <label for="message">Message:</label>
      <textarea
        id="message"
        rows="4"
        [(ngModel)]="message"
        name="message"
      ></textarea>
    </div>
    <button type="button" (click)="onSubmit()">Submit</button>
  </form>

  <div class="flex-container" *ngIf="isSubmited">
    <!-- Le ngIf sans le component enfant permet de réutiliser le component dès qu'un nouvel objet est push depuis le form -->
    <!--[message]="msg" quant à lui, me permet de déverser mon array de message dans le component enfant-->
    <!-- le (delete) me permet de passer depuis le child component, un event au component parent-->
    <app-message-details
      *ngFor="let msg of messages; let i = index"
      [message]="msg"
      [index]="i"
      (delete)="deleteMessage($event)"
    ></app-message-details>
  </div>
</div>
